memory_limit = {{ magento_php_memory_limit }}
max_execution_time = {{ magento_php_max_execution_time }}
zlib.output_compression = On
date.timezone = {{ magento_timezone }}
realpath_cache_size = {{ magento_php_realpath_cache_size }}
realpath_cache_ttl = {{ magento_php_realpath_cache_ttl }}
opcache.enable = 1
opcache.enable_cli = 1
opcache.save_comments = 1
