# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 SysGroup Sp. z o.o.
[defaults]
inventory = inventory/hosts.yml
roles_path = playbooks/roles
library = plugins/modules
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
